input, button {
    background-color: black;
    color: rgb(255, 255, 255);
    right: 10px;
    border-radius:100px;
}
.input {
    background-color: black;
    color: rgb(255, 255, 255);
    right: 1000px;
    border-radius:1000px;
}
input, text {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    right: 1000px;
    border-radius:1000px;
}
body, head {
    border-image: auto;
    background-image: none;
    background:url(black.png) ;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
br, text {
    color: white;
    background-color: white;
}
table {
    color: white;
    background-color: black;
}
text {
    color: white;
    background-color: black;
}
h4 {
    color:white
}
h1 {
    color:white
}
button, button {
    padding: 20px 50px;
    outline: none;
    border-radius: 25px;
    background-color: blue;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    box-shadow: 0px 5px 10px #000;
}
input, image {
    right: 10px;
}